* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgColor: #dbdbdb96;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bgColor);
  box-shadow: 0px 12px 2px 1px rgba(0, 0, 0, 0.2);
  min-width: 615px;
}
.header .title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}
.info p {
  width: 500px;
}
.permissions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
  padding: 0px 20%;
  align-items: center;
  justify-content: center;
}
.permission-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 20px;
  margin: 20px;
  text-align: center;
}

@media (max-width:840px) {
  .permissions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    padding: 0px 20%;
    align-items: center;
    justify-content: center;
  }
  .header, .header .title {
    font-size: .9em;
  }
}
@media (max-width:540px) {
  .permissions {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 20px;
    padding: 0px 20%;
    align-items: center;
    justify-content: center;
  }
}

.form-request {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5% 10%;
  padding: 20px;
}
.form-check{
  display: flex;
  justify-content: center;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2%;
  padding: 20px;
}
.about p{
  text-align: center;
}
.about .mision-vision {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  justify-content: center;
  border: 2px solid var(--bgColor);
  padding: 30px;
  margin: 20px;
  gap: 2%;
}
.about .mision-vision h5 {
  padding: 4%;
  display: flex;
  flex-direction: column;
  transform: translateX(500%);
  transform: translateY(-30%);
  align-items: center;
  text-decoration: underline;
}
.values {
  border: 2px solid var(--bgColor);
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin: 20px;
  padding: 0px 10%;
}
.values p {
  padding: 0px 2%;
  text-align: center;
}
.contact {
  background-color: var(--bgColor);
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
